* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  font-family: Rockwell, sans-serif;
}

/*
============
VIDEO BACKGROUND
============
*/

#videoBG {
  position: fixed;
  filter: brightness(60%);
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

/*
============
CONTENT
============
*/

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
============
TITLE
============
*/

h1 {
  color: #fff;
  font-size: 90px;
  margin-bottom: 50px;
  position: relative;
  cursor: default;
}
h1::before {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -13%;
  transform: translateY(-50%);
}
h1::after {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -13%;
  transform: translateY(-50%);
}

/*
============
BUTTONS
============
*/

a {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  width: 147.3px;
  height: 43px;
  font-size: 23px;
  line-height: 43px;
  border-radius: 5px;
}
#sign-in-button {
  margin-right: 20px;
  transition: 0.3s;
}
#sign-in-button:hover {
  transform: scale(1.15);
}

#sign-up-button {
  margin-left: 20px;
  transition: 0.3s;
}
#sign-up-button:hover {
  transform: scale(1.15);
}

/*
===============
MEDIA QUERIES
===============
*/

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  a {
    display: block;
  }
  #sign-in-button {
    margin: auto;
    margin-bottom: 20px;
  }
  #sign-up-button {
    margin: auto;
  }
}
